<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de operaciones básicas</title>
    <style>
        .respuesta {
          color: blue;
        }
      </style>
</head>
<body>
    <h1>Ingrese los números a sumar</h1>
    <form id="formulario">
      <input type="number" id="numero1" placeholder="Primer número" required>
      <br><br>
      <input type="number" id="numero2" placeholder="Segundo número" required>
      <br><br>
      <button type="button" id="sumarButton">Sumar</button>
    </form>
    
    <div id="contenido">
        <p id="resultado"> </p>
    </div>
    <script src="primer-calculo.component.ts"></script>
</body>
</html>