#boton1{
    margin-left: -5%;
}
#boton2{
    margin-left: 20px;
}
#boton3{
    margin-left: 20px;
}
#boton4{
    margin-left: 20px;
    background-color: blueviolet;
    border: blueviolet; 
}
#boton4:hover{
    background-color: rgb(107, 35, 174);
}