<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href='../primer-calculo/primer-calculo.component.html'>Home</a></li>
      <li><a class='dropdown-arrow' href='http://'>Services</a>
        <ul class='sub-menus'>
          <li><a routerLink="/pagina1">Sumatoria</a></li>
          <li><a routerLink="/pagina2">Resta</a></li>
          <li><a href='/pagina3'>Division</a></li>
        </ul>
      </li>
      <li><a href='http://'>About</a></li>
      <li><a href='http://'>Contact Us</a></li>
    </ul>
  </nav>